span{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('bubble.png');
    background-size: contain;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: rakib 3s linear infinite;
}
@keyframes rakib{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -1000%);
        opacity: 0;
    }
}
body, html {
    height: 100%; /* Ensure the body and html have 100% height */
    background: linear-gradient(to bottom right, #FF7F32 50%, #FF7F00 50%);

}
.form_reg{
    background: linear-gradient(to bottom right, #002853 50%, #004b99 50%);
    color: white;
    margin: auto;
    height: auto;
    width: 30%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
   
}

.tab h2{
    background-color: #04AA6D;
    margin: -20px -20px 10px -20px;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tab label, input, select{
    display: block;
    margin-top: 10px;
}
.tab label{
    font-weight: bold;
}
.tab input, select{
    padding: 5px;
}
.tab{
    display: none;
}
#form_submitted{
    text-align: center; 
    font-weight: bold; 
    color: white; 
    font-family: cursive; 
    font-size: large;
}
.button{
    margin: 10px;
  
    padding: 2px;
}
.circle{
    text-align: center;
    
}

.step{
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: #bbbbbb;
    border-radius: 10px;
    margin: 20px;
    opacity: 0.5;
}

.step.active{
    opacity: 1;
}
.step.finish{
    background-color: #04AA6D;
}

#prevBtn, #nextBtn{
    background-color: #04AA6D;
    padding: 5px;
    border-radius: 2px;
    border-width: 1px solid black;
    cursor: pointer;
}

#prevBtn{
    float: left;
}
#nextBtn{
    float: right;
}
#prevBtn:hover, #nextBtn:hover{
    background-color: orange;
    font-size: large;
}
.error{
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}


@media screen and (max-width: 500px) {
    .form_reg {
        margin-top: 30px;
    height: auto;
        width:auto;
        padding: 10px;
    }

    .tab h2 {
        font-size: 16px;
       
        padding: 10px;
    }

    .tab input, select {
       
        font-size: 14px;
        padding: 8px;
    }

    #prevBtn, #nextBtn {
        width: 100%;
        margin-top: 5px;
    }
   
}